{% extends 'layout.html.twig' %}

{% macro barGraph(title, stats) %}
    <h2 class="content-head is-center">{{ title }}</h2>
    <div class="chart chart-month">
        {% for key, value in stats %}
            <div class="graph-column">
                <div class="graph-counterValue">{{ value }}</div>
                <div class="graph-bar" style="height: {{ (value / max(stats)) * 300 }}px;"></div>
                <div class="graph-legend-x">{{ key|capitalize }}</div>
            </div>
        {% else  %}
            <p>Sorry, there is no statistic for this section yet 🙈</p>
        {% endfor %}
    </div>
{% endmacro %}

{% import _self as stats %}

{% block content %}
    <div class="stats">
        <div class="jumbotron">
            <div class="jumbotron-inner">
                <h1>FireFight Game Statistics</h1>
                <p>
                    Yo! Here are the statistics of FireFight
                    <small>(since 8/2019)</small>
                </p>
            </div>
        </div>

        <div class="container-charts">
            {{ stats.barGraph('Number of FireFights per month', counters.month) }}
            {{ stats.barGraph('Number of FireFights per year', counters.year) }}
            {{ stats.barGraph('Number of FireFights per application', counters.app) }}
        </div>
    </div>

{% endblock content %}
