{% set title = title|default('FireFight Targeting App - The Nerf Battle Royale bot for your Slack or Discord team') %}
{% set description = description|default('An application to run a Nerf Battle Royale with your team on Slack and Discord!') %}

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="author" content="Scyne">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
